.footer-button {
  position: relative;
  background-image: var(--bluePinkGradient);
  color: var(--white);
  z-index: 1;
}

/* adding a transition to a gradient */

.footer-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  z-index: -1;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  border-radius: 1.75rem;
}

.footer-button:hover::before {
  opacity: 1;
}
