@use "../abstracts/" as *;

source {
  display: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

h1 {
  font-weight: 800;
  line-height: 1.2;
  margin-top: 38px;
  margin-bottom: 26px;
  font-size: rem(40);

  @include breakpoint(desktop) {
    font-size: rem(56);
  }
}

h2 {
  font-weight: 800;
  font-size: rem(24);
  color: var(--white);
}

h3 {
  font-size: rem(20);
  font-weight: 800;
}

p {
  color: var(--gray);
  font-size: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: rem(28);
  border: none;
  color: var(--white);
  background: var(--darkishBlue);
  transition: 200ms background ease-in;
}

button:hover {
  background: var(--darkishGray);
}

.primary-button {
  background: var(--orangePinkGradient);
  max-width: rem(167);
  border-radius: rem(31.5);
  padding: 15px 30px;
  margin-top: 24px;
  margin-bottom: 46px;
  transition: 200ms opacity ease-in;
}

.primary-button:hover {
  opacity: 0.5;
  background: var(--orangePinkGradient);
}

.picture-wrapper {
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.graphic {
  object-fit: none;
}

.cta-wrapper {
  background: var(--orangePinkGradient);
  padding: 24px 29px 32px 28px;
  border-radius: rem(10);
  max-width: rem(343);
  margin-bottom: 40px;

  @include breakpoint(tablet) {
    height: rem(259);

    h2 {
      margin-top: 32px;
    }
  }
}

.grid-wrapper {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.grid {
  margin: 0px 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.card {
  margin: 0px;
  background: var(--white);
  max-width: rem(343);
  padding: 28px;
  height: rem(259);
  margin-bottom: 40px;
  border-radius: rem(10);
  transition: scale 300ms ease-in;

  a {
    color: var(--darkishPink);
    font-size: rem(18);
    font-weight: 700;
    text-decoration: none;
  }

  .icon {
    margin-top: -50px;
  }

  h3 {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  p {
    padding-bottom: 16px;
  }
}

.card:hover {
  scale: 1.05;
}

@include breakpoint(tablet) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0px;
  }

  .intro-content {
    max-width: rem(457);
  }

  .picture-wrapper {
    object-fit: none;
    position: relative;
  }
}
